﻿@model Models.Base.Restaurant

@{
    ViewBag.Title = "Remover Restaurante";
}

<h2>Remover Restaurante</h2>

<h3>Tem certeza que deseja remover este item ?</h3>
<div>
    <h4>Restaurante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.name, "Nome do Restaurante")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <img src="~/Content/img/icons/icon_cancel.png" class="btn-new" />
        <input type="submit" name="cancel" id="cancel" value="Cancelar" class="btn btn-default" onclick="cancelNew()" />
        <script>
            function cancelNew(e) {
                event.preventDefault()
                location.href = "/Restaurants"
            }
        </script>
        <img src="~/Content/img/icons/icon_remove.png" class="btn-new" />
        <input type="submit" value="Remover" class="btn btn-danger" />
    </div>
    }
</div>
