﻿@model IEnumerable<Models.Base.Restaurant>

@{
    ViewBag.Title = "Restaurantes";
}

<h2>Restaurantes</h2>

@using (Html.BeginForm("Index", "Restaurants", FormMethod.Get))
{
    <div class="row">

        <div class="panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Filtros</h2>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Nome: </label>
                            @Html.TextBox("name", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <img src="~/Content/img/icons/icon_search.png" class="btn-search" />
                            <input type="submit" name="pesquisar" id="pesquisar" value="Pesquisar" class="btn btn-primary" />
                            <img src="~/Content/img/icons/icon_new.png" class="btn-new" />
                            <input type="submit" name="novo" id="novo" value="Cadastrar novo Restaurante" class="btn btn-success" onclick="cadastrar()"/>
                            <script>
                                function cadastrar(e) {
                                    event.preventDefault()
                                    location.href = "/Restaurants/Create"
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th style="width: 96px;"></th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "btn-delete" })
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "btn-edit" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
        </tr>
    }

</table>
