﻿@model Models.Base.Menu

@{
    ViewBag.Title = "Remover Prato";
}

<h2>Remover Prato</h2>

<h3>Tem certeza que deseja remover este item ?</h3>
<div>
    <hr />
    <h4>Dados</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foodPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodPrice)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <img src="~/Content/img/icons/icon_cancel.png" class="btn-new" />
            <input type="submit" name="cancel" id="cancel" value="Cancelar" class="btn btn-default" onclick="cancelNew()" />
            <script>
                function cancelNew(e) {
                    event.preventDefault()
                    location.href = "/Menusd"
                }
            </script>
            <img src="~/Content/img/icons/icon_remove.png" class="btn-new" />
            <input type="submit" value="Remover" class="btn btn-danger" />
        </div>
    }
</div>
