﻿@model IEnumerable<Models.Base.Menu>

@{
    ViewBag.Title = "Index";
}

<h2>Pratos</h2>

<p>
    <img src="~/Content/img/icons/icon_new.png" class="btn-new" />
    <input type="submit" name="novo" id="novo" value="Cadastrar novo Prato" class="btn btn-success" onclick="cadastrar()" />
    <script>
        function cadastrar(e) {
            event.preventDefault()
            location.href = "/Menus/Create"
        }
    </script>
</p>
<table class="table">
    <tr>
        <th style="width: 96px;"></th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodPrice)
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "btn-delete" })
            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "btn-edit" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foodName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foodPrice)
        </td>
    </tr>
    }

</table>
