﻿a.btn-edit {
    background: url(img/icons/icon_edit_property.png) no-repeat top left;
    background-size: 25px;
    padding: 6px 21px;
    margin-left: 10px;
}

a.btn-edit:hover {
    background: url(img/icons/icon_edit_property.png) no-repeat top left;
    background-size: 28px;
    padding: 9px 21px;
    margin-left: 10px;
}


a.btn-details {
    background: url(img/icons/icon_show_property.png) no-repeat top left;
    background-size: 25px;
    padding: 6px 21px;
}

a.btn-details:hover {
    background: url(img/icons/icon_show_property.png) no-repeat top left;
    background-size: 28px;
    padding: 9px 21px;
}

a.btn-delete {
    background: url(img/icons/icon_delete_property.png) no-repeat top left;
    background-size: 25px;
    padding: 6px 21px;
    padding-right: 4px;
}

a.btn-delete:hover {
    background: url(img/icons/icon_delete_property.png) no-repeat top left;
    background-size: 28px;
    padding: 9px 21px;
    padding-right: 7px;
}

tr > td:first-child {
    width: 1px;
}

.btn-search{
    width: 2%;
}

.btn-new {
    width: 2%;
    margin-left: 10px;

}