﻿@{
    ViewBag.Title = "Home";
}
<br />
<div class="row">
    <div class="col-lg-12 text-center">
        <img src="~/Content/img/home.jpg" />
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <br />
        <h3>
            @ViewBag.SystemName
        </h3>
    </div>
</div>
